<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{#if (isEquals current_path 'Dashboard') }}
            대시보드
        {{else if (isEquals current_path 'Employee') }}
            직원관리
        {{else if (isEquals current_path 'Education') }}
            교육과정 등록관리
        {{else if (isEquals current_path 'EducationDetails') }}
            교육과정 등록관리
        {{else if (isEquals current_path 'Assignment') }}
            교육과정 배정관리
        {{else if (isEquals current_path 'AssignmentDetails') }}
            교육과정 배정관리
        {{else if (isEquals current_path 'Assignment_history') }}
            교육과정 배정이력
        {{else if (isEquals current_path 'Course') }}
            강의관리
        {{else if (isEquals current_path 'CourseDetails') }}
            강의관리
        {{else if (isEquals current_path 'Achievement') }}
            진척도관리
        {{else if (isEquals current_path 'Administrator') }}
            관리자
        {{/if}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">
            {{#if (isEquals current_path 'Dashboard') }}
                대시보드
            {{else if (isEquals current_path 'Employee') }}
                직원관리
            {{else if (isEquals current_path 'Education') }}
                교육과정 등록관리
            {{else if (isEquals current_path 'EducationDetails') }}
                교육과정 등록관리
            {{else if (isEquals current_path 'Assignment') }}
                교육과정 배정관리
            {{else if (isEquals current_path 'AssignmentDetails') }}
                교육과정 배정관리
            {{else if (isEquals current_path 'Assignment_history') }}
                교육과정 배정이력
            {{else if (isEquals current_path 'Course') }}
                강의관리
            {{else if (isEquals current_path 'CourseDetails') }}
                강의관리
            {{else if (isEquals current_path 'Achievement') }}
                진척도관리
            {{else if (isEquals current_path 'Administrator') }}
                관리자
            {{/if}}
        </li>
    </ol>
</section>
<!-- // page header -->