<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
              <a href="/achievement" class="btn btn-default">
                  <i class="fa fa-list"></i> &nbsp;
                  목록으로
              </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{#each edu_info}}
                <div class="page-header">
                    <h3><small>강의명</small><br />{{name}}</h3>
                </div>
                {{/each}}
                <div class="col-md-4">
                    <h4>점포별 순위 및 이수율</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="center">순위</th>
                            <th class="center">지점</th>
                            <th class="center">이수율</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if branch_info}}
                        {{#each branch_info}}
                        <tr>
                            <td class="center">{{addOneForIndex @key}}</td>
                            <td class="center">{{branch}}</td>
                            <td class="center text-red">
                              <strong>{{extractRatio sess_sum ../total_sess user_count}} </strong> %
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr><td colspan="3">집계될 데이터가 없습니다.</td></tr>
                        {{/if}}

                        </tbody>
                    </table>
                </div>
                <div class="col-md-8">
                    <h4>개인별 순위 및 이수율</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="center">순위</th>
                            <th class="center">이름</th>
                            <th class="center">지점</th>
                            <th class="center">직책</th>
                            <th class="center">이수율</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if user_list}}
                        {{#each user_list}}
                        <tr>
                            <td class="center">{{addOneForIndex @key}}</td>
                            <td class="center"><a href="#{{name}}">{{name}}</a></td>
                            <td class="center">{{branch}}</td>
                            <td class="center">{{duty}}</td>
                            <td class="center text-red">
                              <strong>{{percentage completed_sess ../total_sess}}</strong> %
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td colspan="5">출력할 데이터가 없습니다.</td>
                        </tr>
                        {{/if}}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{{>modal_assign_edu}}