<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <a href="/achievement" class="btn btn-default">
          <i class="fa fa-list"></i> &nbsp; 목록으로
        </a>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="page-header">
          <h3><small>교육과정명</small><br />{{edu_name}}</h3>
        </div>
        <div class="row">
          <!-- 교육과정별 강의 이수율 -->
          <div class="col-lg-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">강의별 이수율</h3>
              </div>

              <div class="box-body">
                <div class="overflow-scroll">
                  {{#each course_progress}}
                  <!-- course details -->
                  <div class="progress-course-detail">
                    <h4 class="course-name">{{course_name}}</h4>
                    <div class="progress progress-sm active">
                      <div class="progress-bar {{../themeOfProgressBar}} progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{completed_rate}}"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{completed_rate}}%"></div>
                    </div>
                    <div class="star-rating">
                      <span class="ratings {{star-rating course_rate}}"></span> ( {{course_rate}}점, {{vote_count}}명 평가 )
                    </div>
                  </div>
                  <!-- // course details -->
                  {{/each}}
                </div>
              </div>
              <!-- // course details list -->
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <h4>점포별 순위 및 이수율</h4>
          <table id="table-shop-rank" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="center">순위</th>
                <th class="center">점포</th>
                <th class="center">이수율</th>
              </tr>
            </thead>
            <tbody>
              {{#if branch_progress}}
              {{#each branch_progress}}
              <tr>
                <td class="center">{{addOneForIndex @key}}</td>
                <td class="center">{{branch_name}}</td>
                <td class="center text-red">
                  <strong>{{completed_rate}} </strong> %
                </td>
              </tr>
              {{/each}}
              {{else}}
              <tr>
                <td colspan="3">집계될 데이터가 없습니다.</td>
              </tr>
              {{/if}}

            </tbody>
          </table>
        </div>
        <!-- 개인별 순위 및 이수율 -->
        <div class="col-lg-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">개인별 순위 및 이수율</h3>
              <div class="box-tools">
                <div class="pull-right">
                </div>
              </div>
            </div>
            <div class="box-body table-responsive">
              <table id="table-personal-point-rank" class="table no-margin table-bordered table-striped" width="100%">
                <thead>
                  <tr>
                    <th class="center">순위</th>
                    <th class="center">이름</th>
                    <th class="center">점포</th>
                    <th class="center">직책</th>
                    <th class="center">포인트</th>
                    <th class="center">이수율</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if user_progress}} {{#each user_progress}}
                  <tr>
                    <td class="center">{{addOneForIndex @key}}</td>
                    <!--<td class="center"><a href="#{{user_name}}">{{user_name}}</a></td>-->
                    <td class="center">{{user_name}}</td>
                    <td class="center">{{branch_name}}</td>
                    <td class="center">{{duty_name}}</td>
                    <td class="right">{{comma-number point}}</td>
                    <td class="center text-red">
                      <strong>{{completed_rate}}</strong> %
                    </td>
                  </tr>
                  {{/each}} {{else}}
                  <tr>
                    <td colspan="5">출력할 데이터가 없습니다.</td>
                  </tr>
                  {{/if}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="checklist_container" data-edu-id="{{edu_id}}">

        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{{> modal_assign_edu}}