<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      {{#ifCond (isEquals loggedIn.role 'superadmin') '||' (isEquals loggedIn.role 'systemadmin') }}
      {{#if (isEquals ../loggedIn.isdemo 0)}}
      <div class="box-header">
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            <i class="fa fa-cog"></i>
            지사관리
          </button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-toggle="modal" data-target="#createBranch">점포등록</a></li>
            <li><a href="#" data-toggle="modal" data-target="#registOffice">지사등록</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#manage-office-branches">지사별 점포등록</a></li>
          </ul>
        </div>
        <button class="btn btn-default" data-toggle="modal" data-target="#createDuty">
          <i class="fa fa-plus"></i>
          직책등록
        </button>
        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#registerAdmin">
          <i class="fa fa-plus"></i>
          관리자
        </button>
      </div>
      {{/if}}
      {{/ifCond}}
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="table_administrator" class="table no-margin table-bordered table-striped" width="100%">
          <thead>
            <tr>
              <th class="center">ID</th>
              <th class="center">이름</th>
              <th class="center">이메일</th>
              <th class="center">권한</th>
              {{#if (isEquals loggedIn.isdemo 0)}}
              <th class="center">Action</th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td class="center">{{id}}</td>
              <td class="center">{{name}}</td>
              <td class="center">{{email}}</td>
              <td class="center">{{role}}</td>
              {{#if (isEquals ../loggedIn.isdemo 0)}}
              <td class="center">
                {{#ifCond (isEquals ../../loggedIn.role 'supervisor') '||' (isEquals ../../loggedIn.role 'admin')}}
                -
                {{else}}
                {{#if (isEquals canedit 'Y') }}
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-warning btn-sm">수정</button>
                  <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#" data-user-id="{{id}}" data-user-name="{{name}}" data-user-email="{{email}}" data-user-role="{{role}}"
                        class="btn-modify-admininfo" data-toggle="modal" data-target="#modifyAdmin">정보수정</a>
                    </li>
                    {{#ifCond (isEquals role 'supervisor') '||' (isEquals role 'role') }}
                    <li>
                      <a href="#" data-user-id="{{id}}" data-user-role="{{role}}" data-toggle="modal" data-target="#setAdminRole"
                        class="btn-modify-role">권한수정
                      </a>
                    </li>
                    {{/ifCond}}
                    <li>
                      <a href="#" data-user-id="{{id}}" data-toggle="modal" data-target="#setEmployeePassword" data-url="/administrator/password/reset"
                        class="btn-modify-password">비밀번호변경</a>
                    </li>
                    {{#if (isEquals role 'supervisor') }}
                    <!--<li>
                      <a href="#" data-user-id="{{id}}" data-toggle="modal" data-target="#assignBranch" class="btn-add-branch">점포배정</a>
                    </li>-->
                    <li>
                      <a href="#" data-user-id="{{id}}" data-toggle="modal" data-target="#assignAdminOffices" class="btn-add-branch">지사배정</a>
                    </li>
                    {{/if}}
                  </ul>
                </div>
                <button type="button" class="btn btn-danger btn-sm btn-delete-admin" data-user-id="{{id}}">삭제</button>
                {{else}}
                -
                {{/if}}
                {{/ifCond}}
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{> modal_register_admin}}
{{> modal_modify_admin}}
{{> modal_change_role}}
{{> modal_assign_branch}}
{{> modal_regist_office}}
{{> modal_create_branch}}
{{> modal_create_duty}}
{{> modal_manage_office_branches}}
{{> modal_assign_admin_offices}}