<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <a href="/course" class="btn btn-default">
          <i class="fa fa-list"></i> &nbsp; 목록으로
        </a>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label>강의제목</label>
              <p>{{course_name}}</p>
            </div>
            <div class="form-group">
              <label>강의설명</label>
              <p>{{{course_desc}}}</p>
            </div>
            <div class="form-group">
              <label>강의 평점</label>
              <p><span class="ratings {{star-rating course_rate}}"></span> ( {{course_rate}} )</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>강사</label>
              <p>{{teacher_name}}</p>
            </div>
            <div class="form-group">
              <label>강사 평점</label>
              <p><span class="ratings {{star-rating teacher_rate}}"></span> ( {{teacher_rate}} )</p>
            </div>
            <div class="form-group">
              <button class="btn btn-warning" data-toggle="modal" data-target="#modifyCourse"><i class="fa fa-pencil"></i> 수정하기</button>
              <button class="btn btn-danger btn-delete-course" id="btnDeleteCourse" data-course-id="{{course_id}}"><i class="fa fa-remove"></i> 삭제하기</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="session-group-btn pull-left">
          <button class="btn btn-sm btn-default btn-create-video" data-course-id="{{course_id}}">
            <i class="fa fa-plus"></i> &nbsp;
            비디오
          </button>
          <button class="btn btn-sm btn-default btn-create-quiz" data-course-id="{{course_id}}">
            <i class="fa fa-plus"></i> &nbsp;
            퀴즈
          </button>
          <button class="btn btn-sm btn-default btn-create-final" data-course-id="{{course_id}}">
            <i class="fa fa-plus"></i> &nbsp;
            테스트
          </button>
          <button class="btn btn-sm btn-default btn-create-checklist" data-course-id="{{course_id}}">
            <i class="fa fa-plus"></i> &nbsp;
            점검표
          </button>
        </div>
        <div class="clearfix"></div>
        <br>
        <ul class="session-content list-group">
        {{#if session_list}}
        {{#each session_list}}
          {{#if (isEquals type 'QUIZ')}}
          <li class="list-group-item clearfix">
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <a href="#quiz" class="btn-solve-quiz" data-quiz-group="{{quiz_group_id}}" data-type="QUIZ" data-title="{{title}}" data-order="{{order}}"
              data-id="{{id}}">
              <i class="fa fa-quora"></i> &nbsp;
              {{title}}
            </a>
            <span class="pull-right" data-course-id="{{course_id}}" data-course-list-id="{{id}}" data-type="{{type}}">
              <a href="#view" class="btn btn-sm btn-session-detail text-green btn-solve-quiz"
                data-quiz-group="{{quiz_group_id}}"
                data-type="QUIZ"
                data-title="{{title}}">
                <i class="fa fa-eye"></i> &nbsp; 보기
              </a>
              <a href="#modify" class="btn btn-sm btn-modify-session btn-modify-quiz"
                data-id="{{id}}"
                data-quiz-group="{{quiz_group_id}}">
                <i class="fa fa-pencil"></i> &nbsp; 수정
              </a>
              <a href="#delete" class="btn btn-sm text-red btn-delete-session btn-delete-session"
                data-id="{{id}}"
                data-quiz-group="{{quiz_group_id}}">
                <i class="fa fa-eraser"></i> &nbsp; 삭제
              </a>
            </span>
          </li>
          {{else if (isEquals type 'VIDEO') }}
          <li class="list-group-item clearfix">
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <a href="#video" class="btn-watch-video" data-video-id="{{video_id}}" data-order="{{order}}" data-title="{{title}}" data-id="{{id}}">
              <i class="fa fa-file-video-o"></i> &nbsp;
              {{title}}
            </a>
            <span class="pull-right" data-course-id="{{course_id}}" data-course-list-id="{{id}}" data-type="{{type}}">
              <a href="#view" class="btn btn-sm btn-session-detail text-green btn-watch-video" data-video-id="{{video_id}}">
                <i class="fa fa-eye"></i> &nbsp; 보기
              </a>
              <a href="#modify" class="btn btn-sm btn-modify-session" data-id="{{id}}" data-video-id="{{video_id}}">
                <i class="fa fa-pencil"></i> &nbsp; 수정
              </a>
              <a href="#delete" class="btn btn-sm text-red btn-delete-session" data-id="{{id}}" data-video-id="{{video_id}}">
                <i class="fa fa-remove"></i> &nbsp; 삭제
              </a>
            </span>
          </li>
          {{else if (isEquals type 'FINAL') }}
          <li class="list-group-item clearfix">
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <a href="#final" class="btn-solve-quiz" data-quiz-group="{{quiz_group_id}}" data-type="{{type}}" data-title="{{title}}" data-order="{{order}}"
              data-id="{{id}}">
              <i class="fa fa-sticky-note"></i> &nbsp;
              {{title}}
            </a>
            <span class="pull-right" data-course-id="{{course_id}}" data-course-list-id="{{id}}" data-type="{{type}}">
              <a href="#view" class="btn btn-sm btn-session-detail text-green btn-solve-quiz"
                data-quiz-group="{{quiz_group_id}}"
                data-type="{{type}}"
                data-title="{{title}}">
                <i class="fa fa-eye"></i> &nbsp; 보기
              </a>
              <a href="#modify" class="btn btn-sm btn-modify-session btn-modify-quiz"
                data-id="{{id}}"
                data-quiz-group="{{quiz_group_id}}">
                <i class="fa fa-pencil"></i> &nbsp; 수정
              </a>
              <a href="#delete" class="btn btn-sm text-red btn-delete-session" data-quiz-group="{{quiz_group_id}}">
                <i class="fa fa-eraser"></i> &nbsp; 삭제
              </a>
            </span>
          </li>
          {{else if (isEquals type 'CHECKLIST') }}
          <li class="list-group-item clearfix">
            <span class="handle ui-sortable-handle">
              <i class="fa fa-ellipsis-v"></i>
              <i class="fa fa-ellipsis-v"></i>
            </span>
            <a href="#checklist" class="btn-preview-checklist" data-checklist-group="{{checklist_group_id}}" data-type="{{type}}" data-title="{{title}}"
              data-order="{{order}}" data-id="{{id}}">
              <i class="fa fa-calendar-check-o"></i> &nbsp;
              {{title}}
            </a>
            <span class="pull-right" data-course-id="{{course_id}}" data-course-list-id="{{id}}" data-type="{{type}}">
              <a href="#view" class="btn btn-sm btn-session-detail text-green btn-preview-checklist"
                data-checklist-group="{{checklist_group_id}}"
                data-type="{{type}}"
                data-title="{{title}}">
                <i class="fa fa-eye"></i> &nbsp; 보기
              </a>
              <a href="#modify" class="btn btn-sm btn-modify-session btn-modify-checklist"
                data-id="{{id}}"
                data-checklist-group="{{checklist_group_id}}">
                <i class="fa fa-pencil"></i> &nbsp; 수정
              </a>
              <a href="#delete" class="btn btn-sm text-red btn-delete-session"
                data-checklist-group="{{checklist_group_id}}">
                <i class="fa fa-eraser"></i> &nbsp; 삭제
              </a>
            </span>
          </li>
          {{/if}}
        {{/each}}
        {{else}}
        아직 등록된 커리큘럼이 없습니다.
        {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{> modal_modify_course}}