<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="pull-right">
          {{#if (isEquals loggedIn.isdemo 0)}}
          <button class="btn btn-default btn-md" data-toggle="modal" data-target="#registerCourse">
            <i class="fa fa-plus"></i> &nbsp;
            강의추가
          </button>
          {{/if}}
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="table_course" class="table no-margin table-bordered table-striped" width="100%">
          <thead>
            <tr>
              <th class="center">생성일</th>
              <th class="center">강의명</th>
              <th class="center">강사명</th>
              <th class="center">생성자</th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td class="center">{{time created_dt}}</td>
              <td class="">
                {{#if (isEquals ../loggedIn.isdemo 1)}}
                <a href="#" class="btn-link">{{course_name}}</a></td>
                {{else}}
                <a href="/course/details?id={{course_id}}" class="btn-link">{{course_name}}</a></td>
                {{/if}}
              <td class="center">{{teacher_name}}</td>
              <td class="center">{{creator}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{{> modal_view_teacher}} {{> modal_register_teacher}} {{> modal_register_course}}