<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="/course" class="btn btn-default">
                    <i class="fa fa-list"></i> &nbsp;
                    목록으로
                </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modifyCourse">
                    <i class="fa fa-pencil"></i> &nbsp;
                    수정
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{#each list}}
                <div class="course-info">
                    <h2 class="course-title">{{name}}</h2>
                    <p class="star-rating-area">
                        <div class="star-rating">
                            강의 평점 :
                            {{#each ../rating}}
                            <span class="ratings {{star-rating rate}}"></span> ( {{rate}} )
                            {{/each}}
                        </div>
                    </p>
                    <span class="author">
                        강사명 : {{teacher}}
                    </span>

                    <div class="course-desc">
                        <h4>강의 설명</h4>
                        <pre>{{desc}}</pre> <!-- 강의 설명 부분에 개행 처리가 들어가지 않았다. -->
                    </div>
                </div>
                {{/each}}
            </div>
            <!-- /.box-body -->
            <div class="box-footer"></div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3>
                    이 강좌의 커리큘럼
                    <span class="pull-right">
                        <button class="btn btn-sm btn-default btn-create-video" data-course-id="{{course_id}}">
                          <i class="fa fa-video-camera"></i> &nbsp;
                          비디오 등록
                        </button>
                        <button class="btn btn-sm btn-default btn-create-quiz" data-course-id="{{course_id}}">
                          <i class="fa fa-quora"></i> &nbsp;
                          퀴즈 등록
                        </button>
                        <button class="btn btn-sm btn-default btn-create-final" data-course-id="{{course_id}}">
                          <i class="fa fa-sticky-note-o"></i> &nbsp;
                          파이널테스트 등록
                        </button>
                      </span>
                </h3>
            </div>
            <div class="box-body">
                <div class="course-session">

                    <!--강의에 속한 세션 항목 나열과 선택시 볼 수 있어야 한다.-->
                    {{#if session_list}}
                        {{#each session_list}}
                            <ul class="session-list">  
                            {{#if (isEquals type 'QUIZ')}}
                                <li>              
                                    <span class="handle ui-sortable-handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>                                                        
                                    <a href="#quiz" class="btn-solve-quiz"
                                        data-quiz-group="{{quiz_group_id}}" 
                                        data-type="QUIZ" 
                                        data-title="{{title}}"
                                        data-order="{{order}}" 
                                        data-id="{{id}}"
                                    >
                                        <i class="fa fa-quora"></i> &nbsp;
                                        {{title}}
                                    </a>
                                    <span class="pull-right" 
                                        data-course-id="{{course_id}}" 
                                        data-course-list-id="{{id}}" 
                                        data-type="{{type}}"
                                    >
                                        <a href="#view" class="btn btn-sm btn-session-detail text-green btn-solve-quiz" 
                                            data-quiz-group="{{quiz_group_id}}" 
                                            data-type="QUIZ" 
                                            data-title="{{title}}">
                                            <i class="fa fa-eye"></i>
                                            보기
                                        </a>
                                        <a href="#modify" class="btn btn-sm btn-modify-session btn-modify-quiz" 
                                            data-id="{{id}}" 
                                            data-quiz-group="{{quiz_group_id}}"
                                        >
                                            <i class="fa fa-pencil"></i> &nbsp; 수정
                                        </a>
                                        <a href="#delete" class="btn btn-sm text-red btn-delete-session btn-delete-session" 
                                            data-id="{{id}}" 
                                            data-quiz-group="{{quiz_group_id}}"
                                        >
                                            <i class="fa fa-eraser"></i> &nbsp; 삭제
                                        </a>
                                    </span>
                                </li>
                            {{else if (isEquals type 'VIDEO') }}
                                <li>
                                    <span class="handle ui-sortable-handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>                                            
                                    <a href="#video" class="btn-watch-video"
                                        data-video-id="{{video_id}}" 
                                        data-order="{{order}}" 
                                        data-title="{{title}}" 
                                        data-id="{{id}}"
                                    >
                                        <i class="fa fa-file-video-o"></i> &nbsp;
                                        {{title}}
                                    </a>
                                    <span class="pull-right" data-course-id="{{course_id}}" data-course-list-id="{{id}}" data-type="{{type}}">
                                        <a href="#view" class="btn btn-sm btn-session-detail text-green btn-watch-video" data-video-id="{{video_id}}">
                                            <i class="fa fa-eye"></i>
                                            보기
                                        </a>
                                        <a href="#modify" class="btn btn-sm btn-modify-session" data-id="{{id}}" data-video-id="{{video_id}}">
                                            <i class="fa fa-pencil"></i> &nbsp; 수정
                                        </a>
                                        <a href="#delete" class="btn btn-sm text-red btn-delete-session" data-id="{{id}}" data-video-id="{{video_id}}">
                                            <i class="fa fa-eraser"></i> &nbsp; 삭제
                                        </a>
                                    </span>
                                </li>
                            {{else if (isEquals type 'FINAL') }}
                                <li>
                                    <span class="handle ui-sortable-handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>                                            
                                    <a href="#final" class="btn-solve-quiz"
                                        data-quiz-group="{{quiz_group_id}}" 
                                        data-type="{{type}}" 
                                        data-title="{{title}}" 
                                        data-order="{{order}}" 
                                        data-id="{{id}}"
                                    >
                                        <i class="fa fa-sticky-note"></i> &nbsp;
                                        {{title}}
                                    </a>
                                    <span class="pull-right" 
                                        data-course-id="{{course_id}}" 
                                        data-course-list-id="{{id}}" 
                                        data-type="{{type}}"
                                    >
                                        <a href="#view" class="btn btn-sm btn-session-detail text-green btn-solve-quiz" 
                                            data-quiz-group="{{quiz_group_id}}" 
                                            data-type="{{type}}" 
                                            data-title="{{title}}"
                                        >
                                            <i class="fa fa-eye"></i>
                                            보기
                                        </a>
                                        <a href="#modify" class="btn btn-sm btn-modify-session btn-modify-quiz" 
                                            data-id="{{id}}" 
                                            data-quiz-group="{{quiz_group_id}}"
                                        >
                                            <i class="fa fa-pencil"></i> &nbsp; 수정
                                        </a>
                                        <a href="#delete" class="btn btn-sm text-red btn-delete-session" data-quiz-group="{{quiz_group_id}}">
                                            <i class="fa fa-eraser"></i> &nbsp; 삭제
                                        </a>
                                    </span>
                                </li>
                            {{/if}}
                            </ul>
                        {{/each}}
                    {{else}}
                        <div>
                            아직 등록된 커리큘럼이 없습니다.
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="box-footer"></div>
        </div>
        <!-- /.box -->
                
        <div class="box">
            <div class="box-header with-border">
                <h3>
                    강사 정보            
                </h3>  
            </div>
            <div class="box-body">
                {{#if teacher_info}}
                    {{#each teacher_info}}
                    <h4>{{name}}</h4>
                    <p class="star-rating-area">
                        <div class="star-rating">
                            강사 평점 :
                            {{#each ../teacher_rating}}
                            <span class="ratings {{star-rating rate}}"></span> ( {{ rate }} )
                            {{/each}}
                        </div>
                    </p>                       
                    <pre class="teacher-desc">{{desc}}</pre>
                    {{/each}}
                {{else}}
                    등록된 강사 정보가 없습니다.
                {{/if}}

            </div>
            <div class="box-footer"></div>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{{> modal_modify_course}}