<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-md-3">
                    <form class="" action="" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="교육과정명 검색" required />
                            <span class="input-group-btn">
                              <button type="submit" class="btn btn-primary btn-flat">검색</button>
                            </span>
                        </div>
                    </form>
                </div>

                <button class="btn btn-default pull-right" style="margin-left: 10px;" >
                    <i class="fa fa-download"></i>&nbsp;
                    교육과정 전체
                </button>
                <button class="btn btn-create-edu btn-primary pull-right" data-toggle="modal" data-target="#registerEdu">
                    <i class="fa fa-pencil-square-o"></i>
                    교육과정생성
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_education" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">생성일</th>
                        <th class="center">교육과정명</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">생성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each list}}
                    <tr>
                        <td class="center">{{time created_dt}}</td>
                        <td class="center">
                            <a href="/education/details?id={{course_group_id}}"
                               class="btn-link"
                               data-course-group-id="{{course_group_id}}">
                              {{name}}
                            </a>
                        </td>
                        <td class="center">{{time start_dt}}</td>
                        <td class="center">{{time end_dt}}</td>
                        <td class="center">{{creator}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="center">생성일</th>
                        <th class="center">교육과정명</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">생성자</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{{>modal_register_edu}}
