<div class="row home_section">
    <div class="col-xs-12">
        
        <div class="box box-primary">
            <div class="box-header with-border">
                <a href="/education" class="btn btn-default">
                    <i class="fa fa-list"></i> &nbsp;
                    목록으로
                </a>
                <div class="pull-right">

                    <button id="modify-edu" class="btn btn-primary" data-toggle="modal" data-target="#modifyEdu">
                        <i class="fa fa-pencil-square-o"></i> &nbsp;
                        수정
                    </button>

                    <button id="point-setting" class="btn btn-default" data-toggle="modal" data-target="#pointWeight">
                        <i class="fa fa-gear"></i>
                        포인트 설정
                    </button>                    
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="course-info">
                    <h2 class="course-title">{{edu.name}}</h2>
                    <div class="course-desc-preview">
                        <!--<h4>교육과정 설명</h4>-->
                        <br>
                        <span>{{{edu.desc}}}</span> <!-- 강의 설명 부분에 개행 처리가 들어가지 않았다. -->
                    </div>
                </div>

                <!--<div class="list-group">
                    {{#each edu_course_list}}                    
                    <div class="list-group-item list-group-item-action"
                        data-course-group-id="{{course_group_id}}"
                        data-course-group-key="{{course_group_key}}"
                    >  
                        <h4 class="list-group-item-heading">                            
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span> 
                            {{course_name}}
                        </h4>
                        <p class="list-group-item-text">
                          <pre>{{course_desc}}</pre>
                        </p>
                        <strong>강사명 : {{teacher_name}}</strong>
                    </div>
                    {{/each}}
                </div>-->

            </div>
            
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="list-group">
            {{#each edu_course_list}}
            <div class="box list-group-item"
                data-course-group-id="{{course_group_id}}"
                data-course-group-key="{{course_group_key}}" 
            >
                <div class="box-header with-border handle ui-sortable-handle">
                    <h3 class="box-title">{{course_name}}</h3>
                    <div class="box-tools pull-right">                        
                        <a href="/course/details?id={{course_id}}" class="btn btn-default btn-sm">자세히</a>                        
                    </div>                    
                </div>
                <div class="box-body">
                    <strong>강사명 : {{teacher_name}}</strong>
                    <br><br>
                    <span>
                        {{{course_desc}}}
                    </span>
                </div>
                <div class="box-footer"></div>
            </div>
            {{/each}}
        </div>

    </div>
    <!-- /.col -->
    
</div>
<!-- /.row -->

{{>modal_modify_edu}}
{{>modal_point_weight}}