<div class="row home_section">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <a href="/education" class="btn btn-default">
                    <i class="fa fa-list"></i> &nbsp;
                    목록으로
                </a>
                <div class="pull-right">

                    <button id="modify-edu" class="btn btn-primary" data-toggle="modal" data-target="#modifyEdu">
                        <i class="fa fa-pencil-square-o"></i> &nbsp;
                        수정
                    </button>

                    <button class="btn btn-danger" id="btnDeleteEducation" data-edu-id="{{edu.id}}">
                        <i class="fa fa-times"></i> &nbsp;
                        삭제
                    </button>

                    <button id="point-setting" class="btn btn-default" data-toggle="modal" data-target="#pointWeight">
                        <i class="fa fa-gear"></i>
                        포인트 설정
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="course-info">
                    <h4 class="course-title">
                      <strong>{{edu.name}}</strong>
                    </h4>
                    <p>
                      {{{edu.desc}}}
                    </p>

                    <br>
                    {{#each edu_course_list}}
                    <h4 class="course-title">
                      <strong>강의목록</strong>
                    </h4>
                    <ul class="session-list">
                      <li>
                        <a href="/course/details?id={{course_id}}">{{course_name}}</a>
                      </li>
                    </ul>
                    {{/each}}
                </div>
            </div>

            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!--<div class="list-group">
            {{#each edu_course_list}}
            <div class="box list-group-item"
                data-course-group-id="{{course_group_id}}"
                data-course-group-key="{{course_group_key}}"
            >
                <div class="box-header with-border handle ui-sortable-handle">
                    <h3 class="box-title">{{course_name}}</h3>
                    <div class="box-tools pull-right">
                        <a href="/course/details?id={{course_id}}" class="btn btn-default btn-sm">자세히</a>
                    </div>
                </div>
                <div class="box-body">
                    <strong>강사명 : {{teacher_name}}</strong>
                    <br><br>
                    <span>
                        {{{course_desc}}}
                    </span>
                </div>
                <div class="box-footer"></div>
            </div>
            {{/each}}
        </div>-->

    </div>
    <!-- /.col -->

</div>
<!-- /.row -->

{{>modal_modify_edu}}
{{>modal_point_weight}}