<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <div class="pull-right">
          <button type="button" class="btn btn-primary btn-create-edu" data-toggle="modal" data-target="#registerEdu">
            <i class="fa fa-pencil-square-o"></i>
            등록
          </button>
        </div>
      </div>
      <div class="box-body table-responsive">
        <table id="table_education" class="table no-margin table-bordered table-striped" width="100%">
          <thead>
            <tr>
              <th class="center">생성일</th>
              <th class="center">교육과정명</th>
              <th class="center">생성자</th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td class="center">{{time created_dt}}</td>
              <td class="">
                <a href="/education/details?id={{education_id}}&course_group_id={{course_group_id}}" class="btn-link" data-course-group-id="{{course_group_id}}">
                  {{name}}
                </a>
              </td>
              <td class="center">{{creator}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{>modal_register_edu}}