<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="/education" class="btn btn-default">
                    <i class="fa fa-list"></i> &nbsp;
                    목록으로
                </a>
                <div class="pull-right">

                    <button id="modify-edu" class="btn btn-primary" data-toggle="modal" data-target="#modifyEdu">
                        <i class="fa fa-pencil"></i> &nbsp;
                        수정
                    </button>

                    <button id="point-setting" class="btn btn-default" data-toggle="modal" data-target="#pointWeight">
                        <i class="fa fa-gear"></i>
                        포인트 설정
                    </button>                    
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="list-group">
                    {{#each edu_course_list}}                    
                    <div class="list-group-item list-group-item-action"
                        data-course-group-id="{{course_group_id}}"
                        data-course-group-key="{{course_group_key}}"
                    >  
                        <h4 class="list-group-item-heading">                            
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span> 
                            {{course_name}}
                        </h4>
                        <p class="list-group-item-text">
                          <pre>{{course_desc}}</pre>
                        </p>
                        <strong>강사명 : {{teacher_name}}</strong>
                    </div>
                    {{/each}}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    
</div>
<!-- /.row -->

{{>modal_modify_edu}}
{{>modal_point_weight}}