<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
              {{#if (isEquals loggedIn.isdemo 0)}}
                <!--<div class="btn-group">
                  <button type="button" class="btn btn-default">기타기능</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target="#createBranch">점포관리</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#createDuty">직책관리</a></li>
                  </ul>
                </div>-->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadFile">
                  <i class="fa fa-upload"></i>
                  엑셀등록
                </button>

                <div class="pull-right">
                  <button class="btn btn-default" data-toggle="modal" data-target="#createEmployee">
                    <i class="fa fa-plus"></i>
                    교육생
                  </button>
                </div>
                {{/if}}
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="table-employee" class="table no-margin table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                        <th class="center">점포</th>
                        <th class="center">직책</th>
                        <th class="center">이름</th>
                        <th class="center">휴대폰번호</th>
                        <th class="center">이메일</th>
                        {{#if (isEquals loggedIn.isdemo 0)}}
                        <th class="center">Action</th>
                        {{/if}}
                    </tr>
                    </thead>
                    <tbody>
                    {{#each list}}
                    <tr>
                        <td class="center">{{branch}}</td>
                        <td class="center">{{duty}}</td>
                        <td class="center">{{name}}</td>
                        <td class="center">{{phone}}</td>
                        <td class="center">{{email}}</td>
                        {{#if (isEquals ../loggedIn.isdemo 0)}}
                        <td class="center">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-warning btn-sm">수정</button>
                                <button type="button" class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"
                                           class="btn-modify-userinfo"
                                           data-user-id="{{id}}"
                                           data-user-branch="{{branch_id}}"
                                           data-user-duty="{{duty_id}}"
                                           data-user-name="{{name}}"
                                           data-user-phone="{{phone}}"
                                           data-user-email="{{email}}"
                                           data-toggle="modal"
                                           data-target="#modifyEmployee">정보수정</a>
                                    </li>
                                    <li><a href="#"
                                           data-user-id="{{id}}"
                                           data-user-name="{{name}}"
                                           data-toggle="modal"
                                           data-target="#setEmployeePassword"
                                           data-url="/employee/password/reset"
                                           class="btn-modify-password">비밀번호변경</a>
                                    </li>
                                    <!--<li><a href="#">삭제</a></li>-->
                                </ul>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm btn-delete-employee" data-user-id="{{id}}">삭제</button>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{{> modal_create_employee}}
{{> modal_create_branch}}
{{> modal_create_duty}}
{{> modal_modify_employee}}
{{> modal_upload}}