<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">기타기능</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#createBranch">지점등록</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#createDuty">직책등록</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#uploadFile">직원등록(.xls)</a></li>                        
                        <li><a href="#" data-toggle="modal" data-target="#uploadFile">직원 등록 양식(.xls)</a></li>
                    </ul>
                </div>                
                <!--<div class="btn-area-employee">-->
                    <!--<button class="btn btn-default" data-toggle="modal" data-target="#createBranch">
                        <i class="fa fa-cloud-upload"></i>&nbsp;
                        지점등록
                    </button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#createDuty" style="margin-right: 10px;">
                        <i class="fa fa-cloud-upload"></i>&nbsp;
                        직책등록
                    </button>
                    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#uploadFile">
                        <i class="fa fa-cloud-upload"></i>&nbsp;
                        직원등록(.xls)
                    </button>
                    <a href="/uploads/excel/sample.xlsx" class="btn btn-default">
                        <i class="fa fa-file-excel-o"></i>&nbsp;
                        직원 등록 양식(.xls)
                    </a>-->

                    <div class="pull-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#createEmployee">
                            <i class="fa fa-pencil-square-o"></i>
                            직원등록
                        </button>                    
                        <button class="btn btn-default pull-right" style="margin-left: 5px;">
                            <i class="fa fa-download"></i>&nbsp;
                            엑셀
                        </button>
                    </div>
                    
                <!--</div>-->

                <!-- 조건 검색 -->
                <!--<form class="form-group" method="post" action="/employee">-->
                    <!--<div class="col-md-2">
                        <div class="form-group">
                            <label>지점선택</label>
                            <select class="form-control select2 select-branch" multiple="multiple" data-placeholder="지점 선택" style="width: 100%;">
                                <option value="0">전체</option>
                                {{#each branch}}
                                <option value="{{id}}">{{name}} <small>({{id}})</small></option>
                                {{/each}}
                            </select>
                            <input type="hidden" name="branch" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>직책선택</label>
                            <select class="form-control select2 select-duty" multiple="multiple" data-placeholder="지점 선택" style="width: 100%;">
                                <option value="0">전체</option>
                                {{#each duty}}
                                <option value="{{id}}">{{name}} <small>({{id}})</small></option>
                                {{/each}}
                            </select>
                            <input type="hidden" name="duty" />
                        </div>
                    </div>-->
                    <!--<div class="col-md-8">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="employee_name">이름</label>
                                <input type="text" class="form-control" id="employee_name" placeholder="이름" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="employee_tel">전화번호</label>
                                <input type="text" class="form-control" id="employee_tel" placeholder="전화번호" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="employee_email">이메일</label>
                                <input type="text" class="form-control" id="employee_email" placeholder="이메일" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-employee-search" style="margin-right: 5px;">
                                <i class="fa fa-search"></i> &nbsp;
                                검색
                            </button>
                            <a href="/employee" class="btn btn-default btn-employee-clear">초기화</a>
                        </div>                        
                    </div>-->
                <!--</form>-->
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="table_employee" class="table no-margin table-bordered table-striped" width="100%">
                    <thead>
                    <tr>
                        <th class="center">지점</th>
                        <th class="center">직책</th>
                        <th class="center">이름</th>
                        <th class="center">전화번호</th>
                        <th class="center">이메일</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each list}}
                    <tr>
                        <td class="center">{{branch}}</td>
                        <td class="center">{{duty}}</td>
                        <td class="center">{{name}}</td>
                        <td class="center">{{phone}}</td>
                        <td class="center">{{email}}</td>
                        <td class="center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning">수정</button>
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"
                                           class="btn-modify-userinfo"
                                           data-user-id="{{id}}"
                                           data-user-branch="{{branch_id}}"
                                           data-user-duty="{{duty_id}}"
                                           data-user-name="{{name}}"
                                           data-user-phone="{{phone}}"
                                           data-user-email="{{email}}"
                                           data-toggle="modal"
                                           data-target="#modifyEmployee">정보수정</a>
                                    </li>
                                    <li><a href="#"
                                           data-user-id="{{id}}"
                                           data-user-name="{{name}}"
                                           data-toggle="modal"
                                           data-target="#setEmployeePassword"
                                           data-url="/employee/password/reset"
                                           class="btn-modify-password">비밀번호변경</a>
                                    </li>
                                    <!--<li><a href="#">삭제</a></li>-->
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{{> modal_create_employee}}
{{> modal_create_branch}}
{{> modal_create_duty}}
{{> modal_modify_employee}}
{{> modal_upload}}