
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/ionicons.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/AdminLTE.css" />
    <!--<link rel="stylesheet" href="/static/stylesheets/skin-green-light.min.css">-->
    <link rel="stylesheet" href="/static/stylesheets/_all-skins.min.css">
    <link rel="stylesheet" href="/static/stylesheets/datepicker3.css" />
    <link rel="stylesheet" href="/static/stylesheets/daterangepicker.css" />
    <link rel="stylesheet" href="/static/stylesheets/select2.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/buttons.bootstrap.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/bootstrap-datetimepicker.min.css" />
    <link rel='stylesheet' href="/static/stylesheets/styles.css" />
    <link rel='stylesheet' href="/static/stylesheets/pace.min.css" />
    <link rel='stylesheet' href="/static/stylesheets/jquery.tagit.min.css" />
    <link rel='stylesheet' href="/static/stylesheets/jquery-ui.min.css" />
    <link rel="stylesheet" href="/static/stylesheets/nplayer.css">
    <link rel="stylesheet" href="/static/stylesheets/nplayer_res.css">
    <link rel="stylesheet" href="/static/stylesheets/fine-uploader-new.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    {{#if title}}
    <title>{{title}} - {{logoName}}</title>
    {{else}}
    <title>{{logoName}}</title>
    {{/if}}
</head>

<body class="hold-transition {{theme}} sidebar-mini {{#if (isEquals current_path 'Login')}}login-page{{/if}}">
  <!--<div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'ko', includedLanguages: 'en,ja,ko,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  </script>-->
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    {{#if (isEquals current_path 'Login')}}
    {{{body}}}
    {{else if (isEquals current_path 'winpop')}}
    {{{body}}}
    {{else}}
    <div class="wrapper" id="wrapper">
        {{> header}}
        {{> left_nav}}
        <div class="content-wrapper">
            {{> page_header}}
            <section class="content">{{{body}}}</section>
        </div>
    </div>
    {{> modal_change_password }}

    {{> footer}}
    {{/if}}

    <script src="/static/vendor/require.2.3.2.js"></script>
    <script src="/static/javascripts/app.js"></script>

    {{#if (isEquals current_path 'Login')}}<script src="/static/javascripts/login.js"></script>{{/if}}
    {{#if (isEquals current_path 'Dashboard')}}<script src="/static/javascripts/dashboard.js"></script>{{/if}}
    {{#if (isEquals current_path 'Employee')}}<script src="/static/javascripts/employee.js"></script>{{/if}}
    {{#if (isEquals current_path 'Education')}}<script src="/static/javascripts/education.js"></script>{{/if}}
    {{#if (isEquals current_path 'EducationDetails')}}<script src="/static/javascripts/education_details.js"></script>{{/if}}
    {{#if (isEquals current_path 'Assignment')}}<script src="/static/javascripts/assignment.js"></script>{{/if}}
    {{#if (isEquals current_path 'SimpleAssignment')}}<script src="/static/javascripts/simple-assignment.js"></script>{{/if}}
    {{#if (isEquals current_path 'AssignmentDetails')}}<script src="/static/javascripts/assignment_details.js"></script>{{/if}}
    {{#if (isEquals current_path 'Assignment_history')}}<script src="/static/javascripts/assignment_history.js"></script>{{/if}}
    {{#if (isEquals current_path 'Course')}}<script src="/static/javascripts/course.js"></script>{{/if}}
    {{#if (isEquals current_path 'Achievement')}}<script src="/static/javascripts/achievement.js"></script>{{/if}}
    {{#if (isEquals current_path 'AchievementDetails')}}<script src="/static/javascripts/achievement_details.js"></script>{{/if}}
    {{#if (isEquals current_path 'AchievementUser')}}<script src="/static/javascripts/achievement_user.js"></script>{{/if}}
    {{#if (isEquals current_path 'AchievementUserDetails')}}<script src="/static/javascripts/achievement_user_details.js"></script>{{/if}}
    {{#if (isEquals current_path 'CourseDetails')}}<script src="/static/javascripts/course_details.js"></script>{{/if}}
    {{#if (isEquals current_path 'Administrator')}}<script src="/static/javascripts/administrator.js"></script>{{/if}}
    {{#if (isEquals current_path 'Help')}}<script src="/static/javascripts/help.js"></script>{{/if}}
    {{#if (isEquals current_path 'AquaPlayer')}}<script src="/static/javascripts/aquaplayer_demo.js"></script>{{/if}}
    {{#if (isEquals current_path 'Board')}}<script src="/static/javascripts/board.js"></script>{{/if}}
    {{#if (isEquals current_path 'Analytics')}}<script src="/static/javascripts/analytics.js"></script>{{/if}}

    {{#if (isEquals module_type 'create_video')}}<script src="/static/javascripts/winpops/win_create_video.js"></script>{{/if}}
    {{#if (isEquals module_type 'modify_video')}}<script src="/static/javascripts/winpops/win_modify_video.js"></script>{{/if}}
    {{#if (isEquals module_type 'show_video')}}<script src="/static/javascripts/winpops/win_show_video.js"></script>{{/if}}
    {{#if (isEquals module_type 'create_quiz')}}<script src="/static/javascripts/winpops/win_create_quiz.js"></script>{{/if}}
    {{#if (isEquals module_type 'modify_quiz')}}<script src="/static/javascripts/winpops/win_modify_quiz.js"></script>{{/if}}
    {{#if (isEquals module_type 'show_quiz')}}<script src="/static/javascripts/winpops/win_show_quiz.js"></script>{{/if}}
    {{#if (isEquals module_type 'create_checklist')}}<script src="/static/javascripts/winpops/win_create_checklist.js"></script>{{/if}}
    {{#if (isEquals module_type 'modify_checklist')}}<script src="/static/javascripts/winpops/win_modify_checklist.js"></script>{{/if}}

    {{#if (isEquals module_type 'AquaPlayer')}}<script src="/static/javascripts/winpops/win_aquaplayer.js"></script>{{/if}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93018256-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>