<div class="row home_section">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="pull-right">
          {{#if (isEquals loggedIn.isdemo 0)}}
          <form action="/simple_assignment" method="post">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-plus"></i>
              교육추가
            </button>
          </form>
          {{/if}}
        </div>
      </div>
      <div class="box-body table-responsive">
        <table id="table_course" class="table no-margin table-bordered table-striped" width="100%">
          <thead>
            <tr>
              <th class="center">생성내역</th>
              <th class="center">교육과정명</th>
              <th class="center">진행상태</th>
              <th class="center">생성자</th>
              <th class="center">생성일시</th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
            <tr>
              <td class="">
                {{#if (isEquals ../loggedIn.isdemo 1)}}
                <a href="#" class="btn-link">{{title}}</a>
                {{else}}
                <a href="/simple_assignment/{{id}}" class="btn-link">{{title}}</a>
                {{/if}}
              </td>
              <td class="">{{edu_name}}</td>
              <td class="center">{{activated_step}} / 4</td>
              <td class="center">{{created_name}}</td>
              <td class="center">{{dateformat created_dt 'yyyy-mm-dd HH:MM'}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>