<div class="row home_section">
  <input id="assignment_id" type="hidden" value="{{assignment.id}}">
  <input id="activated_step" type="hidden" value="{{assignment.activated_step}}">
  <input type="hidden" name="upload_type" />
  <input type="hidden" name="upload_employee_ids" />
  <input id="edu_id" type="hidden" value="{{assignment.edu_id}}" data-existed="">
  <input id="log_bind_user_id" type="hidden" value="{{assignment.log_bind_user_id}}">
  <input id="training_edu_id" type="hidden" value="{{assignment.training_edu_id}}">

  <div class="col-xs-12">
    <div class="btn-toolbar" role="group" aria-label="...">
      <button id="js-save-simple-assign" type="button" class="btn btn-app" style="border: solid 1px;">
        <i class="fa fa-save"></i> 저장
      </button>
      <button id="js-delete-simple-assign" type="button" class="btn btn-app" style="border: solid 1px;">
        <i class="fa fa-remove"></i> 삭제
      </button>
      <a href="/simple_assignment" class="btn btn-app" style="border: solid 1px;">
        <i class="fa fa-reorder"></i> 목록으로
      </a>
    </div>
    <p>
      저장 후 다음 단계로 이동 단계로 넘어갈 때는, 이전 단계의 작업내용이 <b>자동</b> 저장됩니다.
    </p>
  </div>

  <div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
      <!-- 교육 대상자 -->
      <li class="active">
        <a href="#step-1">
          <h4 class="list-group-item-heading">1. 교육생</h4>
          <p class="list-group-item-text">교육 대상자 선택</p>
        </a>
      </li>
      <!-- 교육과정 -->
      <li class="disabled">
        <a href="#step-2">
          <h4 class="list-group-item-heading">2. 교육과정</h4>
          <p class="list-group-item-text">교육과정 정보, 포인트 및 교육기간 설정</p>
        </a>
      </li>
      <!-- 강의 -->
      <li class="disabled">
        <a href="#step-3">
          <h4 class="list-group-item-heading">3. 강의</h4>
          <p class="list-group-item-text">강의정보 및 비디오/퀴즈 등록</p>
        </a>
      </li>
      <!-- 포인트 -->
      <li class="disabled">
        <a href="#step-4">
          <h4 class="list-group-item-heading">4. 메세지</h4>
          <p class="list-group-item-text">교육 대상자에게 SMS 전송</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 1. 교육생 선택 -->
<div class="setup-content" id="step-1">
  <div class="col-xs-12 box box-body">
    <div class="setup-detail employee">
      <div class="row">
        <div class="col-lg-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs select-employee">
              <li class="active"><a class="tab-item" id="employee" href="#regist-employee" data-toggle="tab">등록된 직원</a></li>
              <li><a class="tab-item" id="excel" href="#regist-excel" data-toggle="tab">엑셀 업로드</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active table-responsive" id="regist-employee" style="position: relative;">
                <table id="table_employee" class="table no-margin table-bordered table-striped" width="100%">
                  <thead>
                    <tr>
                      <th><input type="checkbox" id="check-all"></th>
                      <th class="center">점포</th>
                      <th class="center">직책</th>
                      <th class="center">이름</th>
                      <th class="center">전화번호</th>
                      <th class="center">이메일</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each employees}}
                    <tr>
                      {{#if (isEquals assigned 'Y')}}
                      <td><input type="checkbox" name="table_records" data-id="{{id}}" checked></td>
                      {{else}}
                      <td><input type="checkbox" name="table_records" data-id="{{id}}"></td>
                      {{/if}}
                      <td class="center">{{branch}}</td>
                      <td class="center">{{duty}}</td>
                      <td class="center">{{name}}</td>
                      <td class="center">{{phone}}</td>
                      <td class="center">{{email}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="regist-excel" style="position: relative;">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <div class="form-group">
                      <a href="/static/uploads/excel/regist_group.xlsx" class="btn btn-default">
                        <i class="fa fa-download"></i> &nbsp;
                        양식 다운로드
                      </a>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFile">직원 정보가 있는 엑셀 파일을 업로드해주세요. <br />
                        <small class="text-red">
                          1. 엑셀파일만 가능합니다.<br>
                          2. 반드시 저희가 제공해드리는 양식으로 작성하신 후, 업로드 해주시기 바랍니다.<br>
                        </small>
                      </label><br /><br />
                      <input type="file" name="file-excel" id="UploadExcelFile" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <nav aria-label="...">
      <ul class="pager step1">
        <li class="next"><a href="#">저장 후 다음 단계로 이동 <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- 2. 교육과정 -->
<div class="setup-content" id="step-2">
  <div class="col-xs-12 box box-body">
    <div class="setup-detail education">
      <div class="pull-right">
        <button class="btn btn-default btn-md" id="btnGetEdu" data-toggle="modal" data-target="#addEdu">
          <i class="fa fa-folder-open"></i> &nbsp;
          교육과정 불러오기
        </button>
      </div>
      <div class="clearfix"></div><br>
      <div class="form-group">
        <label>교육과정명</label>
        <input type="text" class="form-control" name="course_name" placeholder="교육과정명" required autocomplete="off"
          value="{{assignment.edu_name}}"
        />
      </div>
      <div class="form-group">
        <input type="hidden" value="{{assignment.edu_desc}}">
        <label>설명</label>
        <textarea id="input-course-desc" class="form-control course-desc editor" name="course_desc" placeholder="교육과정 소개를 입력하세요.">
          {{{assignment.edu_desc}}}
        </textarea>
      </div>
      <div class="form-inline">
        <input type="number" class="form-control" min="0" id="education-add-number" placeholder="숫자를 입력하세요" value="1">
        <button type="button" class="btn btn-default btn-sm education-period" data-period="hour">시간</button>
        <button type="button" class="btn btn-default btn-sm education-period" data-period="day">일</button>
        <button type="button" class="btn btn-default btn-sm education-period" data-period="week">주일</button>
        <button type="button" class="btn btn-default btn-sm education-period" data-period="month">개월</button>
        <button type="button" class="btn btn-default btn-sm education-period" data-period="year">년</button>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="start_dt">시작일 :</label>
            <div class="input-group date" id="start_dt">
              <input type="text" class="form-control" name="start_dt" value="{{dateformat assignment.start_dt 'yyyy-mm-dd HH:MM'}}"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="end_dt">종료일 :</label>
            <div class="input-group date" id="finish_dt">
              <input type="text" class="form-control" name="finish_dt" value="{{dateformat assignment.end_dt 'yyyy-mm-dd HH:MM'}}" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <label>포인트 설정</label>
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" id="select-point-items">전체선택</button>
        <button type="button" class="btn btn-default btn-sm" id="deselect-point-items">전체해제</button>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.complete_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="complete_point" placeholder="교육과정 이수"
              value="{{assignment.complete_point}}"
              {{#ifCond assignment.complete_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>교육과정이수</b> 완료한 교육과정 수 X 포인트</small>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.quiz_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="quiz_point" placeholder="퀴즈"
              value="{{assignment.quiz_point}}"
              {{#ifCond assignment.quiz_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>퀴즈</b> (맞은 문항 수 ÷ 전체 문항 수) X 100 X 포인트</small>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.test_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="test_point" placeholder="테스트"
              value="{{assignment.test_point}}"
              {{#ifCond assignment.test_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>테스트</b> (맞은 문항 수 ÷ 전체 문항 수) X 100 X 포인트</small>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.reeltime_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="reeltime_point" placeholder="교육 시청시간"
              value="{{assignment.reeltime_point}}"
              {{#ifCond assignment.reeltime_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>영상시청 성실도</b> (포인트 - 불성실 시청(-1)) X (완료 영상 수 ÷ 총 영상 수)</small>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.speed_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="speed_point" placeholder="교육과정 이수 속도"
              value="{{assignment.speed_point}}"
              {{#ifCond assignment.speed_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>교육과정 이수 속도</b> (1 - 학습시간 ÷ 총 이수시간) X 포인트</small>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" {{#ifCond assignment.reps_point '!==' 0}}checked{{/ifCond}}>
            </span>
            <input type="number" class="form-control point-item" name="reps_point" placeholder="강의 반복 학습율"
              value="{{assignment.reps_point}}"
              {{#ifCond assignment.reps_point '===' 0}}disabled{{/ifCond}}
            ><br>
          </div>
          <small><b>강의 반복 학습율</b> 강의 반복여부(2회 이상) X 포인트</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="pull-right">
            <button class="btn btn-default" type="button">
              포인트 합계 : <span class="badge">0</span>
            </button>
          </div>
        </div>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="can-replay" {{#ifCond assignment.can_replay '===' 0}}checked{{/ifCond}}>  교육기간 완료 후 재수강 불가
      </div>
      <br>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="can-advance" {{#ifCond assignment.can_advance '===' 0}}checked{{/ifCond}}>  강의 선진행 불가
      </div>
      <hr>

      <label for="eduTags">태그</label><small> ( 20 바이트 미만, 한글 기준 10글자까지만 입력 가능 )</small>
      <ul id="eduTags">
        {{#each eduTags}}
        <li>{{name}}</li>
        {{/each}}
      </ul>

      <nav aria-label="...">
        <ul class="pager step2">
          <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 이전</a></li>
          <li class="next"><a href="#">저장 후 다음 단계로 이동 <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>

<!-- 3. 강의 -->
<div class="setup-content" id="step-3">
  <div class="col-xs-12 box box-body">
    <div class="pull-right">
      <!--<button class="btn btn-default btn-md" data-toggle="modal" data-target="#addExistingCourse">
        <i class="fa fa-folder-open-o"></i> &nbsp;
        강의 불러오기
      </button>-->
      <button class="btn btn-default btn-md" data-toggle="modal" data-target="#registerCourse">
        <i class="fa fa-plus"></i> &nbsp;
        강의생성
      </button>
      <button class="btn btn-default btn-md" data-toggle="modal" data-target="#addCourse">
        <i class="fa fa-folder-open"></i> &nbsp;
        강의 불러오기
      </button>
    </div>
    <div class="clearfix"></div><br>
    <div class="setup-detail">
      <div class="panel-group" id="course-list"
        role="tablist"
        aria-multiselectable="true"
        data-selected-course-id="">
      </div>
      <hr>
      <nav aria-label="...">
        <ul class="pager step3">
          <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 이전</a></li>
          <li class="next"><a href="#">다음 단계로 이동 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- 4. 문제 메시지 전송 -->
<div class="setup-content" id="step-4">
  <div class="col-xs-12 box box-body">
    <div class="col-md-12">
      <div class="row">
        <div class="form-group">
          <label>메세지</label><small> ( 45글자 초과 시 장문메세지로 자동 발송됩니다. )</small>
          <!--<label>메세지</label><small> ( 90 바이트 미만, 한글 기준 45글자까지만 입력 가능. )</small>-->
          <textarea class="form-control message" name="input-message" rows="5" required></textarea>
          <div class="sms-button-group">
            <button type="button" class="btn btn-default btn-send-message">보내기</button>
            <small class="pull-right remain-bytes" style="margin-top: 10px;">0 / 90 바이트</small>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <nav aria-label="...">
          <ul class="pager step4">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 이전</a></li>
            <li class="next"><a href="#">목록보기</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

{{> modal_register_course}}
{{> modal_modify_course}}
{{> modal_add_course}}
{{> modal_add_edu}}