<div class="winpop_video" id="watchVideo">

    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{#if (isEquals type 'FINAL')}}[최종테스트]{{else}}[퀴즈]{{/if}}
            {{quiz_title}}
            </h3>
        </div>

        <div class="modal-body">
        {{#if quiz}}
            {{#each quiz}}
                <h4>{{question}}</h4>
                {{#if option}}
                    <ol>
                      {{#each option}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ol>
                {{/if}}
                <h5>답: <span class="text-green">&nbsp;{{answer}}</span></h5>

                <hr />

            {{/each}}
        {{else}}

            등록된 {{#if (isEquals type 'FINAL' )}}테스트{{else}}퀴즈{{/if}}가 없습니다.
        {{/if}}

        </div>
    </div>
</div>