<div class="winpop_video" id="watchVideo">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">비디오 강좌 : <strong>{{video.name}}</strong>
        <div class="pull-right">
          <button type="button" class="btn btn-default" onclick="window.close();">
            <i class="fa fa-sign-out"> 나가기</i>
          </button>
        </div>
      </h4>
    </div>

    <div class="modal-body">
      <input type="hidden" id="video-provider" value="{{video.type}}">
      <input type="hidden" id="video-id" value="{{video.id}}">

      {{#if (isEquals video.type 'YOUTUBE')}}
      <iframe width="100%" height="600" src="https://www.youtube.com/embed/{{video.url}}" frameborder="0" allowfullscreen></iframe>
      {{else if (isEquals video.type 'VIMEO')}}
      <iframe src="https://player.vimeo.com/video/{{video.url}}?title=0&byline=0&portrait=0" width="100%" height="600" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {{else if (isEquals video.type 'AQUA')}}
      <iframe src=""
        id="aquaplayer_frame"
        frameborder="0"
        allowTransparency="true"
        scrolling="yes"
        width="100%"
        height="700px"
        allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
        >
      </iframe>
      {{/if}}
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
