<!-- Modify Employee -->
<div class="modal fade" id="modifyCourse" role="dialog">
  <form class="modal-dialog" method="post" action="/course/modify" id="frm_modify_course">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">강의수정</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>* 강의명</label>
          <input type="text" class="form-control" name="course_name" placeholder="강의명" required autocomplete="off" value="{{course_name}}" autofocus
          />
        </div>

        <div class="form-group">
          <label>* 강의 소개</label>
          <textarea class="form-control course-desc editor" id="course_desc" name="course_desc" placeholder="강의소개를 입력하세요.">
            {{course_desc}}
          </textarea>
        </div>

        <div class="form-group">
          <label>* 강사명</label>
          <input type="text" class="form-control" name="teacher_name" placeholder="강사명" required autocomplete="off" value="{{teacher_name}}" />
          <!--<select name="teacher_id" class="form-control">
            {{#each ../teacher_list}}
            <option value="{{id}}" {{#if (isEquals name ../teacher)}}selected{{/if}}>{{name}}</option>
            {{/each}}
          </select>-->
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary btn-set-agent-password-submit">수정</button>
      </div>
    </div>
    <input type="hidden" name="course_id" value="{{course_id}}" />
  </form>
</div>