<!-- Create Employee -->
<div class="modal" id="pointWeight" role="dialog">
    <form class="modal-dialog" method="post" action="/dashboard/point/weight/record" id="frm_point_weight">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">포인트 환산 기준(가중치) 설정</h4>
            </div>
            <div class="modal-body">
                {{#each point_weight}}
                <h5>출석 및 이수 완료</h5>
                <div class="input-group">
                    <input type="number" class="form-control eduComplete" name="complete" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_complete}}" />
                    <span class="input-group-addon">%</span>
                </div>

                <h5>퀴즈</h5>
                <div class="input-group">
                    <input type="number" class="form-control quizComplete" name="quiz" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_quiz}}" />
                    <span class="input-group-addon">%</span>
                </div>

                <h5>최종 테스트</h5>
                <div class="input-group">
                    <input type="number" class="form-control finalComplete" name="final_test" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_final}}" />
                    <span class="input-group-addon">%</span>
                </div>

                <h5>교육시청시간</h5>
                <div class="input-group">
                    <input type="number" class="form-control reeltimeComplete" name="reeltime" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_reeltime}}" />
                    <span class="input-group-addon">%</span>
                </div>

                <h5>이수 속도</h5>
                <div class="input-group">
                    <input type="number" class="form-control speedComplete" name="speed" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_speed}}" />
                    <span class="input-group-addon">%</span>
                </div>

                <h5>반복 학습율</h5>
                <div class="input-group">
                    <input type="number" class="form-control repsComplete" name="reps" placeholder="(%)" required autocomplete="off" min="0" max="100" value="{{point_repetition}}" />
                    <span class="input-group-addon">%</span>
                </div>
                {{/each}}
                <div class="point_weight_total">
                  <strong>total</strong> : <span class="total_point"></span>%
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary btn-register-point-weight">등록</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->